// Color Variables
$primary-color: #D02B57;
$secondary-color: #555555;
$text-color: #4c4c4c;
$text-color-dark: #F5F5F5;
$text-color-light: #FFFFFF;
$body-color: #2E2E2E;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Adumu', serif;
$icon-font: 'themify';